:root {
  --verdeOscuro: #083c40;
  --blancoCrema: #f7f1dc;
}

@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
img {
  position: absolute;
  z-index: -1;
  display: block;
  margin: auto;
  width: 96%;
  height: 97%;
  margin-top: 0;
}

body {
  background: var(--verdeOscuro);
}

.contenedor {
  margin-left: 40%;
  padding-top: 15%;
}

.contenedor h1 {
  display: block;
  margin: auto;
}
.contenido {
  color: #f7f1dc;

  text-align: center;
}

.contenido h1 {
  font-family: OpenSansExtraBold;
  font-size: 70px;
  letter-spacing: 7px;
}

.contenido p {
  font-family: OpenSansRegular;
  font-size: 20px;
}

.logo {
  width: 120px;
  height: 120px;
  position: absolute;
  right: 27%;
  top: 15%;
}
